bootstrap.servers=localhost:9092,localhost:9093,localhost:9095,localhost:9096
security.protocol=SASL_PLAINTEXT
sasl.mechanism=SCRAM-SHA-512

sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
    username="${KAFKA_CLIENT_USER}" \
    password="${KAFKA_CLIENT_PASSWORD}";
